template(name="navbar")
  nav(class="navbar navbar-default")
    div(class="container-fluid")
      div(class="navbar-header")
        button(class="navbar-toggle collapsed"
               type="button"
               data-toggle="collapse"
               data-target="#home--navbar")
        a(class="navbar-brand"
          href="#") Documentation
      div(class="collapse navbar-collapse"
          id="home--navbar")
        ul(class="nav navbar-nav")
          li(class="active"): a(href='#') Divi
            span(class="sr-only") (current)
          li: a(href="#") Extra
        form(class="navbar-form navbar-right"
             role="search")
          div(class="form-group")
            input(class="form-control"
                  type="text"
                  placeholder="Search")
            button(class="btn btn-default"
                   type="submit") Submit