template(name='home')
  div(class='container'): div(class='row'): div(class='col col-12')

    div(class='module popular')
      div(class='module-header') Most Popular
      div(class='module-content'
          flex=''
          flex-wrap='wrap')
        each posts
          article(class='post')
            h2(class='title')!=title
            p(class='excerpt')
              +markdown
                {{excerpt}}

    div(class='module latest')
      div(class='module-header') Latest Post
      div(class='module-content'
          flex=''
          flex-wrap='wrap')
        each posts
          article(class='post')
            h2(class='title')!=title
            p(class='excerpt')
              +markdown
                {{excerpt}}