head
  title Documentation

body
  +navbar

  div(class="container")

    div(class="row")
      div(class="col-md-12")
        div(class="page-header")
          h1 Divi Theme Documentation
            br
            small Follow the instructions below to install and configure your new theme

    div(class="row")
      div(class="col-md-6")
        div(class="panel panel-primary")
          div(class="panel-heading")
            h1(class="panel-title") The Divi Basics

          div(class="list-group")
            a(class="list-group-item"
              href='#')
              h4(class="list-group-item-heading") An Overview Of The Builder
              p(class="list-group-item-text") Let's go over the divi builder, and how you will be using it to build your entire website.
            a(class="list-group-item"
              href='#')
              h4(class="list-group-item-heading") Using Premade Layouts
              p(class="list-group-item-text") Divi ships with tons of great premade layouts that you can use to jumpstart your design.
            a(class="list-group-item"
              href='#')
              h4(class="list-group-item-heading") The Divi Library
              p(class="list-group-item-text") The Divi Library is where you can save custom modules and layouts for later use.
            a(class="list-group-item"
              href='#')
              h4(class="list-group-item-heading") Theme &amp; Module Customizer
              p(class="list-group-item-text") Divi makes it easy to take your custom layouts anywhere using the WordPress Importer.
            a(class="list-group-item"
              href='#')
              h4(class="list-group-item-heading") The Theme Options
              p(class="list-group-item-text") Divi comes with theme options that are used to set up various parts of your site.
            a(class="list-group-item"
              href='#')
              h4(class="list-group-item-heading") An Overview Of Divi Sections
              p(class="list-group-item-text") Sections are the builder's largest building blocks, and can be used in various ways.
            a(class="list-group-item"
              href='#')
              h4(class="list-group-item-heading") Rows &amp; Row Options
              p(class="list-group-item-text") Sections are the builder's largest building blocks, and can be used in various ways.
            a(class="list-group-item"
              href='#')
              h4(class="list-group-item-heading") Advanced Design Settings
              p(class="list-group-item-text") You can customize absolutely everything about any module using the advanced design settings.
            a(class="list-group-item"
              href='#')
              h4(class="list-group-item-heading") Divi Role Editor
              p(class="list-group-item-text") Limit what certain WordPress user roles can do within the Divi Builder.
            a(class="list-group-item"
              href='#')
              h4(class="list-group-item-heading") Right Click Control
              p(class="list-group-item-text") Limit what certain WordPress user roles can do within the Divi Builder.

      div(class="col-md-6")
        div(class="panel panel-info")
          div(class="panel-heading")
            h1(class="panel-title") The Divi Basics

          div(class="panel-body")
            | Donec ullamcorper nulla non metus auctor fringilla. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.

          div(class="list-group")
            a(class="list-group-item")
              h4(class="list-group-item-heading") List Group Item Heading
              p(class="list-group-item-text") ...
            a(class="list-group-item")
              h4(class="list-group-item-heading") List Group Item Heading
              p(class="list-group-item-text") ...
            a(class="list-group-item")
              h4(class="list-group-item-heading") List Group Item Heading
              p(class="list-group-item-text") ...